.footer-newsletter {
    display: flex;
    align-items: center;
    position: relative;

    margin-left: 78px;
    gap: 12px;

    &__signup {
        display: flex;
        flex-direction: column;

        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding-bottom: 20px;
        color: var(--default-color2);
    }

    &__signup--mail {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        width: 358px;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-top: 20px;
        background-color: transparent;

        color: rgba(255, 255, 255, 0.6);

        &:focus {
            outline: none;
        }
    }

    &__button {
        border: none;
        cursor: pointer;
        display: block;
        width: 200px;
        height: 50px;
        margin-top: 15px;

        background-color: var(--active-color);
        font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.86;
        border-radius: 4px;

        padding: 10px 28px 10px 42px;

        text-align: left;
        letter-spacing: 0.06em;

        color: var(--default-color2);
    }

    &__button--icon {
        position: absolute;
        width: 24px;
        height: 24px;
        margin-top: 2px;
        margin-left: 24px;

        fill: var(--bcg2-color);
    }
}
