.mobile-contacts {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 8.33%;
    padding-top: 70.6%;

    gap: 30px;

    &__phone {
        font-size: 2.125em;
        line-height: 40px;
        letter-spacing: 2%;
        text-decoration: none;
        color: var(--active-color);
    }
    &__mail {
        font-size: 1.5em;
        line-height: 28px;
        letter-spacing: 2%;
        text-decoration: none;
        color: var(--default-color3);
    }
}

.close-button {
    position: absolute;
}
