.mobile-sides {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;

    &__webpage,
    &__webpage--active {
        font-weight: 500;
        font-size: 2.5em;
        line-height: 47px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--default-color);
    }

    &__webpage--active {
        &::after {
            color: var(--active-color);
        }
    }
}
