.mobile-sides {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2rem;

    padding-left: 8.33%;
    padding-top: 6%;
    &__webpage,
    &__webpage--active {
        font-size: 2.5em;
        line-height: 47px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--default-color);
    }

    &__webpage--active {
        &::after {
            color: var(--active-color);
        }
    }
}
