.mobile-social {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-top: 8%;
    padding-bottom: 6%;
    padding-left: 8.33%;
    gap: 4.16%;
    border: 1px sold red;
    color: var(--active-color);

    &__link {
        font-size: 1.125em;
        line-height: 1.375em;
        text-decoration: none;
        color: var(--active-color);
    }
}
