.modal-btn {
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;

    background-color: var(--active-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    border-radius: 4px;
    padding: 0px;

    text-align: center;
    letter-spacing: 0.06em;

    text-align: center;
    letter-spacing: 0.06em;
    color: var(--default-color2);

    margin-top: 30px;
    margin-left: 164px;
    transition: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
