.projects-flex {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    margin: 0px;
    gap: 30px;
    padding-bottom: 94px;
}
