.modal-cmdtext {
    width: 500px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;

    color: var(--default-color);
    margin-bottom: 2px;
}
