.d-none {
    display: none;
}

.open-menu {
    border: none;
    background-color: inherit;
    padding-top: 7px;

    &__button {
        fill: var(--bcg1-color);
        &:hover {
            cursor: pointer;
            fill: var(--active-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .open-menu {
        display: none;
    }
}
