:root {
    --active-color: #2196f3;
    --bcg1-color: #2f303a;
    --bcg2-color: #f5f4fa;
    --bcg3-color: #eeeeee;
    --default-color: #212121;
    --default-color2: #ffffff;
    --default-color3: #757575;
    --default-color4: #afb1b8;

    --mobile: 480px;
    --tablet: 768px;
    --desktop: 1200px;
}
